@charset "UTF-8";
/* --------------------------------------------------------
    共通パーツ
  -------------------------------------------------------- */
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

/* --------------------------------------------------------
  各セクションのCSS
  -------------------------------------------------------- */
.header {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.header__container {
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  top: 0;
  z-index: 999;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 85px;
  background-color: #000000;
}

.header__left {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__left:hover {
  opacity: 0.5;
}

.header__title {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 45px;
  letter-spacing: 0.3em;
  padding-left: 10px;
}

@media (min-width: 900px) {
  .header__title {
    padding: 0 120px 0 10px;
    font-size: 34px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sp-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url(../../img/hp/bg/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
  height: 100%;
}

.sp-nav__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sp-nav__item {
  font-size: 14px;
  color: #000000;
  text-shadow: 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF;
  margin-bottom: 50px;
}

@media (min-width: 900px) {
  .sp-nav__item {
    font-size: 14px;
  }
}

.sp-nav__link {
  display: block;
}

.sp-nav__link:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/* このクラスを、jQueryで付与・削除する */
.sp-nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.navToggle {
  display: block;
  position: absolute;
  /* bodyに対しての絶対位置指定 */
  right: 15px;
  top: 20px;
  margin-top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}

.navToggle__span {
  display: block;
  position: absolute;
  /* .navToggleに対して */
  width: 25px;
  border-bottom: solid 2px #FFFFFF;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 0px;
}

.navToggle__span:nth-child(1) {
  top: 0px;
}

.navToggle__span:nth-child(2) {
  top: 8px;
}

.navToggle__span:nth-child(3) {
  top: 16px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span {
  border-bottom: solid 3px #000000;
  /* 2番目と3番目のspanを45度に */
}

.navToggle.active span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navToggle.active span:nth-child(2), .navToggle.active span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact {
  max-width: 1920px;
  width: 100%;
  height: 600px;
  margin: 85px auto 0;
  background-image: url(../../img/hp/mv/mainbg01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 20px;
}

.contact::before {
  padding: 0 20px;
  /* 透過した黒を重ねる */
  background-color: rgba(0, 0, 0, 0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.contact__wrap {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  max-width: 590px;
  width: 100%;
  padding: 60px 20px 60px;
}

.contact__box {
  max-width: 550px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 30px 25px;
  border-radius: 10px;
  margin: 0 auto;
}

.contact__title {
  font-size: 16px;
  line-height: 1em;
  padding-bottom: 20px;
  border-bottom: 1px gray solid;
  text-align: center;
  margin: 0 auto 20px;
}

.contact__item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.contact__label-small {
  display: block;
  font-size: 8px;
  margin-top: 5px;
}

.contact__note {
  display: inline-block;
  background-color: gray;
  color: #FFFFFF;
  font-size: 8px;
  height: 16px;
  line-height: 1;
  padding: 2px 10px;
  border-radius: 2px;
  margin-left: 8px;
}

.contact__text-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #707070;
  font-size: 12px;
}

.contact__inner {
  margin-top: 30px;
  text-align: center;
}

.contact__button {
  width: 198px;
  height: 42px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #707070;
  color: #000000;
  font-size: 16px;
  line-height: 2;
}

.contact__button:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 0.6s;
}

.contact__end-message {
  display: none;
  text-align: center;
  font-size: 14px;
  color: #978F10;
}

.contact__false-message {
  display: none;
  text-align: center;
  font-size: 14px;
  color: #978F10;
}

.button--disabled[disabled] {
  opacity: 0.2;
}

.formError {
  margin-top: -40px;
  left: 42% !important;
  margin-top: -15px;
  text-align: justify;
}

@media (min-width: 900px) {
  .formError {
    left: 55% !important;
    margin-top: -25px;
  }
}

.formError .formErrorContent {
  background: #978F10;
  color: white;
  font-size: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 12px 6px;
  border-radius: 4px;
  line-height: 1.5;
  padding: 5px;
  margin: -10px;
}

@media (min-width: 900px) {
  .formError .formErrorContent {
    font-size: 13px;
  }
}

.footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../../img/hp/bg/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__bottom {
  height: 60px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  background-color: #000000;
}

/* --------------------------------------------------------
  jQuery
  -------------------------------------------------------- */
#js-scroll-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
}

.js-scroll-top__link {
  background-color: rgba(151, 143, 16, 0.9);
  opacity: 0.5;
  font-size: 35px;
  padding: 5px 15px;
  border-radius: 4px;
  opacity: 0.8;
}

.fa-angle-up {
  color: #FFFFFF;
}
/*# sourceMappingURL=stylesheet.css.map */