@charset "utf-8";

// mixin ブレイクポイント；900,1420
$tab:900px;
$pc:1420px;

@mixin tab  {
    @media (min-width:($tab))  {
        @content;
    }
}
@mixin pc  {
    @media (min-width:($pc))  {
        @content;
    }
}

// 変数
// カラー
$color-white: #FFFFFF;
$color-black: #000000;
$color-gold: #978F10;

/* --------------------------------------------------------
    共通パーツ
  -------------------------------------------------------- */
  body{
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}
/* --------------------------------------------------------
  各セクションのCSS
  -------------------------------------------------------- */
// start header
.header{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    &__container{
        position: fixed;/* bodyに対しての絶対位置指定 */
        top: 0;
        z-index: 999;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;// 文字真ん中
        padding: 20px;
        height: 85px;
        background-color: $color-black;
    }
    &__left{
        transition: all 1s ease;
        // 1秒かけて要数を変化
        &:hover{
            opacity: 0.5;
        }
    }
    &__title{
        font-size: 30px;
        font-weight: bold;
        color: $color-white;
        line-height: 45px;
        letter-spacing: 0.3em;
        padding-left: 10px;
        @include tab{
            padding: 0 120px 0 10px;
            font-size: 34px;
        }
    }
    &__link{
        display: flex;
    }
}
// ハンバーガーメニュー
.sp-nav{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-image: url(../../img/hp/bg/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    // 彈出視窗從上
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;// sp-nav 垂直
        justify-content: center;// sp-nav 垂直中央
    }
    &__item {
        font-size: 14px;
        color: $color-black;
        text-shadow: 0 0 0.2em $color-white, 0 0 0.2em $color-white;
        margin-bottom: 50px;
        @include tab{
            font-size: 14px;
        }
    }
    &__link{
        display: block;

        &:hover{
        transform: scale(1.25);
        }
    }
}

/* このクラスを、jQueryで付与・削除する */
.sp-nav.active {
    transform: translateX(0%);
}
.navToggle {
    display: block;
    position: absolute;
    /* bodyに対しての絶対位置指定 */
    right: 15px;
    top: 20px;
    margin-top: 8px;
    // pointer 範囲設定
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    &__span {
        display: block;
        position: absolute;    /* .navToggleに対して */
        width: 25px;
        border-bottom: solid 2px  $color-white;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        left: 0px;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 8px;
        }
        &:nth-child(3) {
            top: 16px;
        }
}
}
/* 最初のspanをマイナス45度に */
.navToggle.active span{
// Xの時色を黒くになる
    border-bottom: solid 3px  $color-black;
    &:nth-child(1){
        top: 8px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
/* 2番目と3番目のspanを45度に */
    &:nth-child(2),&:nth-child(3){
        top: 8px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
// end ハンバーガーメニュー
// end header
// start contact
.contact{
    max-width: 1920px;
    width: 100%;
    height: 600px;
    margin: 85px auto 0;
    background-image: url(../../img/hp/mv/mainbg01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 20px;

    &::before{
    padding: 0 20px;
    /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    content: ' ';
    }

    &__wrap{
        position: absolute;
        // 真ん中設置
        left: 50%;
        transform: translate(-50%,);

        max-width: 590px;
        width: 100%;
        padding: 60px 20px 60px;
        // 余白
    }
//　start contact中身設定
&__box {
    max-width: 550px;
    width: 100%;
    background-color: $color-white;
    padding: 30px 25px;
    border-radius: 10px;
    margin: 0 auto;

    }
    &__title{
        font-size: 16px;
        line-height: 1em;
        padding-bottom: 20px;
        border-bottom: 1px gray solid;
        text-align: center;
        margin: 0 auto 20px;
    }

    &__item {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: 14px;
        color: $color-black;
        margin-bottom: 10px;

        &-small{
            display: block;
            font-size: 8px;
            margin-top: 5px;
        }
    }
    &__note {
        display: inline-block;
        background-color: gray;
        color: $color-white;
        font-size: 8px;
        height: 16px;
        line-height: 1;
        padding: 2px 10px;
        border-radius: 2px;
        margin-left: 8px;
    }
    &__text-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #707070;
        font-size: 12px ;
    }
    &__inner{
        margin-top: 30px;
        text-align: center;

    }
    &__button{
        width: 198px;
        height: 42px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #707070;
        color: $color-black;
        font-size: 16px;
        line-height: 2;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
            //変化時間
            -webkit-transition: 0.6s;
        }
    }
// フォーム送信時に表示されるメッセージ
    &__end-message {
        display: none;
        text-align: center;
        font-size: 14px;
        color: $color-gold;
    }
    &__false-message {
        display: none;
        text-align: center;
        font-size: 14px;
        color: $color-gold;
    }
}
// 入力不完全の時ボタン押せないの状態
.button--disabled[disabled] {
    opacity: 0.2;
    }
// --------------------------------------------------------
// jQuery Validation-Engine フォームバリデーション
// --------------------------------------------------------
.formError {
    margin-top: -40px;
    left: 42% !important;
    margin-top: -15px;
    text-align: justify;

    @include tab{
        left: 55% !important;// jQueryのデフォルトの設定を上書き
        margin-top: -25px ;
    }
  }
//   .yournameformError{
//         margin-top: -200px;
//   }
//   .contentformError{
//         margin-top: -20px;
//         left: 50% !important
//   }
  .formError .formErrorContent {
    background: $color-gold;
    color: white;
    font-size: 10px;
    border: none;
    box-shadow: none;
    padding: 8px 12px 6px;
    border-radius: 4px;
    line-height: 1.5;
    padding: 5px;
    margin: -10px;
    @include tab{
        font-size: 13px;

    }
  }
  // end jQuery Validation-Engine フォームバリデーション

// start footer
.footer{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../../img/hp/bg/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__bottom{
        height: 60px;
        color: $color-white;
        font-size: 12px;
        line-height: 60px;
        text-align: center;
        background-color: $color-black;
    }
}

/* --------------------------------------------------------
  jQuery
  -------------------------------------------------------- */

// jQuery スムーススクロール トップへ戻る
#js-scroll-top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    }
    .js-scroll-top__link {
    background-color:rgba($color: $color-gold, $alpha: 0.9);
    opacity: 0.5;
    font-size: 35px;
    padding: 5px 15px;
    border-radius: 4px;
    opacity: 0.8;
    }
    .fa-angle-up {
        color: $color-white;
    }
  // end jQuery スムーススクロール トップへ戻る


